<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
        version="4.0"
>
<!--    <welcome-file-list>-->
<!--        <welcome-file>index.html</welcome-file>-->
<!--    </welcome-file-list>-->

<!--    <servlet>-->
<!--        <servlet-name>UserServlet</servlet-name>-->
<!--        <servlet-class>com.</servlet-class>-->
<!--    </servlet>-->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.tyler.api.servlet.LogoutServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.tyler.api.servlet.UserServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StaticServlet</servlet-name>
        <servlet-class>com.tyler.api.servlet.StaticResourceServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaticServlet</servlet-name>
        <url-pattern></url-pattern>
        <url-pattern>/RoomServlet/all</url-pattern>
        <url-pattern>/RoomServlet/create</url-pattern>
        <url-pattern>/RoomServlet/deleteRoom</url-pattern>
        <url-pattern>/RoomServlet/addUser</url-pattern>
        <url-pattern>/RoomServlet/removeUser</url-pattern>
        <url-pattern>/Login</url-pattern>
        
        <url-pattern>/styles/stylesheet</url-pattern>
        
        <url-pattern>/js/login</url-pattern>
        <url-pattern>/js/viewRoom</url-pattern>
        <url-pattern>/js/createRoom</url-pattern>
        <url-pattern>/js/deleteRoom</url-pattern>
        <url-pattern>/js/addRoomUser</url-pattern>
        <url-pattern>/js/deleteRoomUser</url-pattern>
        <url-pattern>/js/componentInjector</url-pattern>
        <url-pattern>/js/router</url-pattern>
        <url-pattern>/img/2.jpg</url-pattern>
        <url-pattern>/img/4.webp</url-pattern>
        <url-pattern>/img/7.jpg</url-pattern>
        <url-pattern>/img/background.webp</url-pattern>
        <url-pattern>/img/77.jpg</url-pattern>
        <url-pattern>/img/login2.jpg</url-pattern>
        <url-pattern>/img/logo.png</url-pattern>
    </servlet-mapping>


<!--    <security-constraint>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>precluded methods</web-resource-name>-->
<!--            <url-pattern>/static/*</url-pattern>-->
<!--        </web-resource-collection>-->
<!--        <auth-constraint />-->
<!--    </security-constraint>-->

<!--    <filter>-->
<!--        <filter-name>CorsFilter</filter-name>-->
<!--        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>-->
<!--    </filter>-->

<!--    <filter-mapping>-->
<!--        <filter-name>CorsFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>http://127.0.0.1:5500, http://localhost:3000, http://localhost:5501</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,DELETE,HEAD,OPTIONS,PUT</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
        </init-param>
        <init-param>
            <param-name>cors.support.credentials</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cors.preflight.maxage</param-name>
            <param-value>10</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>